@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif !important;
}

#timer-box {

	margin-top: 18px;

	#timer-display {
		text-align: center !important;
		font-size: 38px !important;
		color: #e6193c !important;
		font-weight: 700 !important;

		#timer-text {
			color: black !important;
			font-size: 18px;
			display: block;
		}
	}
}

.mobile-dsblock {
	display: block;
}

.mainBg img {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

/* extracss */

.undercolor {
	color: #4ab54b;
	background: #ffeb00;
	padding-left: 10px;
	padding-right: 10px;
}

div.headText h1 {
	color: #E6193C;
	font-weight: 700;
	font-size: 46px;
}

div.headText h2 {
	font-size: 32px;
	font-weight: 700;
}

.first-head {
	margin: 20px 0;
}

.first-head h3 {
	font-size: 24px;
}

.sec-head h3 {
	font-size: 24px;
}

#exitLink:hover,
.shiptake,
a.textLink:hover {
	text-decoration: underline
}

#leavePop2,
.mainBox,
.top-bar {
	background: #fff;
}

.headText,
.popText,
.popTitle {
	width: 90%;
	height: auto;
	text-align: center;
	font-weight: 600;
}

#innerBar,
.mainBox,
.popText,
.popTitle {
	margin: 0 auto
}

#exitLink,
.inputButton,
.mainBg {
	margin: 25px auto 0
}

.inputButton {
	text-align: center;
}

.inputButton .btn {
	border: thin outset black;
	color: #FFEB00;
	padding: .75em 3.5em;
	font-weight: bold;
	font-size: 1.6em;
	background-color: #E6193C;
	display: inline-block;
	border: none;
	border-radius: 10px;
}

.inputButton .btn:hover {
	background-color: #d61233;
	color: #FFEB00;
}

#leaveFade,
#leaveFade2 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 950;
	background: rgba(0, 0, 0, .7);
	display: none
}

#leavePop2 {
	width: 650px;
	height: auto;
	position: fixed;
	top: 25%;
	left: calc(50% - 325px);
	z-index: 1000;
	border: 3px dashed #f06522;
	display: none;
	padding-top: 35px;
	padding-bottom: 60px;
	text-align: center
}

.popTitle {
	font-size: 35px;
	color: #1EB9F0;
	line-height: normal;
	margin-bottom: 10px;
	font-weight: 700;
}

.popText {
	font-size: 20px;
	color: #222;
	line-height: normal;
	padding-left: 50px;
	padding-right: 50px;
}

#popButton {
	width: 75%;
	height: auto;
	margin: 15px auto
}

a.textLink:link,
a.textLink:visited {
	text-decoration: underline;
	color: #333
}

.shiptake {
	text-align: center;
	padding: 10px
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	background: #f1f4f8 !important;
}

a:link,
a:visited {
	text-decoration: inherit;
	color: inherit
}

.clear {
	clear: both
}

.top-bar {
	padding: 4px 0 3px;
	border-bottom: 4px solid #e9e4dd
}

#innerBar {
	width: 1140px
}

.logo {
	max-width: 140px
}

.mainBox {
	width: 1000px;
	height: auto;
	margin: 20px auto 0;
	border: 1px solid #dcdcdc;
	padding-bottom: 25px
}

.mainHeadbox {
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.leftHead,
.rightHead {
	height: 35px;
	background: #dcdcdc;
	color: #a7a7a7;
}

.centerHead {
	height: 35px;
	background: #1EB9F0;
	color: #fff;
}

.headText {
	margin: 20px auto 0;
}

#exitLink,
#footerText {
	font-size: 12px;
	text-align: center;
	height: auto
}

.mainBg {
	width: 100%;
	height: auto
}

#exitLink {
	color: #333;
	padding-top: 3px;
	width: 350px
}

#secureImg {
	width: 200px;
	height: auto;
	margin: 30px auto 0
}

#footerText {
	width: 100%;
	margin: 60px auto 0;
	color: #222;
	padding-bottom: 30px
}

.pricingText,
#pricingText2 {
	width: 100%;
	height: auto;
	margin: 20px auto 0;
	font-size: 16px;
	text-align: center;
	font-family: Belgrano, Arial;
	font-weight: 600;
	padding-left: 30px;
	padding-right: 30px;
}

.pricingText p {
	display: inline-block;
	margin-bottom: 0px;
}

.pricered {
	color: #E6193C;
}

.managecirole label.form-check-label {
	font-size: 20px
}

.managecirole .form-check-input {
	width: 1.5em;
	height: 1.5em;
	margin-right: 10px
}

.selectBox,
#subscribebox {
	width: 400px;
	height: auto;
	margin: 0 auto
}

#antQuant {
	border-radius: 0;
	font-size: 19px
}

.offerpop .modal-content {
	background: #fff;
	border: 3px dashed #E6193C;
	text-align: center;
	width: 84%;
	margin: 0px auto;
}

.buttonRight .btn {
	color: #FFEB00;
	padding: .6em 1.3em;
	font-weight: bold;
	font-size: 1.7em;
	background-color: #E6193C;
	display: inline-block;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.buttonRight .btn:hover {
	background-color: #d61233;
	color: #FFEB00;

}

.downsell1 {
	padding: 30px 0 !important;
}

@media screen and (max-width: 1000px) {

	.selectBox,
	#subscribebox {
		width: 100%;
		height: auto;
		margin: 0 auto
	}

	body {
		overflow-x: hidden
	}

	#headInner {
		width: 98%;
		height: 46px
	}

	#headLogo {
		height: 36px
	}

	.mainBox {
		width: 97%
	}

	.mainBg {
		width: 100%
	}

	.mainHeadbox {
		font-size: 12px
	}

	.headText {
		width: 95%;
		font-size: 16px
	}
}

@media screen and (max-width: 1200px) {

	#exitLink,
	#innerBar {
		width: 100%
	}

	#innerBar {
		margin: 0 auto
	}
}

@media screen and (max-width: 800px) {

	.mainBox {
		width: 97%;
		padding: 10px
	}

	#leavePop2 {
		width: 94%;
		top: 10%;
		left: calc(3% - 3px)
	}

	#popButton {
		width: 95%
	}

	.buttonRight input#productIdInput {
		width: 100% !important
	}
}

@media screen and (max-width: 767px) {

	.shiptake a {
		font-size: 14px;
	}

	.popTitle {
		font-size: calc(6.2vw - 0px) !important;
		line-height: calc(1em + 1vw) !important;
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
	}

	.popText {
		font-size: calc(3.5vw - 0px) !important;
		line-height: calc(1em + 1vw) !important;
		color: #222;
		line-height: normal;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		display: block;
	}

	.top-bar {
		border-bottom: 0px solid #e9e4dd;
	}

	.bl-block {
		display: block !important;
	}

	.mainHeadbox {
		height: 100% !important;
	}

	.logo {
		max-width: 90px;
		padding: 5px !important;
		margin-top: 0px !important;
	}

	.leftHead,
	.rightHead,
	.centerHead {
		line-height: normal;
		padding: 5px 0;
	}

	.headText,
	.mainBox {
		margin-top: 0
	}

	div.mainHeadbox {
		margin-bottom: 10px;
	}

	.mainHeadbox {
		height: 100%;
	}

	.pricingText p {
		font-size: 14px !important;
	}

	.buttonRight .btn {
		display: block;
		width: 100%;
		margin-bottom: 0px !important;
		font-size: calc(7vw - 0px) !important;
		line-height: calc(0.9em + 1vw) !important;
		padding: .6em 0.3em;
	}

	#popButton {
		margin: 15px auto 0px;
	}

	.offerpop .modal-content {
		width: 100%;
	}

	.first-head {
		margin: 15px 0;
	}

	#footerText {
		width: 100%;
		margin: 30px auto 0;
		color: #222;
		padding-bottom: 20px;
	}

	#footerText img {
		width: 30%;
	}

	#footerText p {
		margin-bottom: 5px;
	}

	.mainHeadbox {
		height: 100% !important;
	}

	div.headText h1 {
		font-size: calc(9.5vw - 0px) !important;
		line-height: calc(0.8em + 1vw) !important;
	}

	div.headText h2 {
		font-size: calc(6.5vw - 0px) !important;
		line-height: calc(1em + 1vw) !important;
	}

	.undercolor {
		display: inline-block;
		margin-top: 5px;
	}

	.first-head h3 {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.sec-head h3 {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.pricingText {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.pricingText,
	#pricingText2 {
		width: 100%;
		height: auto;
		margin: 20px auto 0;
		font-size: 14px;
		text-align: center;
		font-family: Belgrano, Arial;
		font-weight: 600;
		padding-left: 0px;
		padding-right: 0px;
	}

	.inputButton .btn {
		border: thin outset black;
		color: #FFEB00;
		padding: .5em 0.5em;
		font-weight: bold;
		font-size: calc(7.9vw - 0px) !important;
		line-height: calc(0.9em + 1vw) !important;
		background-color: #E6193C;
		display: block;
		border: none;
		width: 100%;
		line-height: normal !important;
	}

	.mainBox {
		width: 97%;
		padding: 0px 0px;
		padding: 0px 0px 30px;
	}

	a.textLink {
		font-size: 10px;
	}

	.selectBox {
		padding-left: 10px;
		padding-right: 10px;
	}

	.leftHead,
	.rightHead,
	.centerHead {
		height: 40px;
	}

}

@media screen and (max-width: 567px) {

	.buttonRight .btn {

		margin-bottom: 0px !important;
		font-size: calc(7.5vw - 0px) !important;
	}

	.centerHead,
	#innerBar,
	.leftHead,
	.pricingText,
	#pricingText2,
	.rightHead {
		width: 100%
	}

	img.logo {
		margin: 0 auto;
		display: block
	}
}

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(.9)
	}

	50% {
		transform: scale(1)
	}
}

@-webkit-keyframes pulse {

	0%,
	100% {
		-webkit-transform: scale(.95)
	}

	50% {
		-webkit-transform: scale(1)
	}
}

@media screen and (max-width: 380px) {

	.mainHeadbox .col-4 {
		font-size: 10px !important;
		line-height: normal !important;
		padding: 4px 2px;
	}

	.leftHead,
	.rightHead,
	.centerHead {
		height: 35px;
	}

	.popText {
		font-size: 13px;
		color: #222;
		line-height: normal;
	}

}

/* extracss */